[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "claude/.claude/plugins/marketplaces/context-mode"]
	path = claude/.claude/plugins/marketplaces/context-mode
	url = https://github.com/mksglu/context-mode
[submodule "claude/.claude/plugins/marketplaces/obsidian-skills"]
	path = claude/.claude/plugins/marketplaces/obsidian-skills
	url = https://github.com/kepano/obsidian-skills
[submodule "claude/.claude/plugins/marketplaces/superpowers-marketplace"]
	path = claude/.claude/plugins/marketplaces/superpowers-marketplace
	url = https://github.com/obra/superpowers-marketplace
