[Unit]
Description=SSH SOCKS5 Tunnel para VPN do Mac
After=network.target

[Service]
ExecStart=/usr/bin/ssh -D 1080 -o ServerAliveInterval=60 -N jefferson.cardoso@DAP7X7GYWGFY.local
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
